nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid black;
    min-width: min-content;

    .nav-links {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: center;
        margin: 10px 0;

        .nav-link {
            // margin: auto 10px;

            a,
            button {
                border: none !important;
                font-size: 1rem !important;
                background: transparent !important;
                text-decoration: none;
            }
        }
    }
}